extends layout

block content
    div#navigator.row.no-gutters
        div#leftPanel.col-12.col-sm-6.col-md-7.col-xl-8
            div#map
            include includes/player
        div#rightPanel.col-12.col-sm-6.col-md-5.col-xl-4
            div#videolist
                div#videolist-topbar
                    include includes/searchform/place
                div#videolist-container
                    div#list-overlay.overlay.d-none
                        i.fa.fa-refresh.fa-spin.fa-3x.fa-fw
                        span.sr-only Loading
                    div#videolist-list
                        span#videolist-medias.list-group
                            each video in videos
                                a.media.video.videolist-media.list-group-item.list-group-item-action(data-id=video.youtubeId data-json=video href='#' + video.youtubeId)
                                    img.d-flex.mr-2.img-fluid(src='https://img.youtube.com/vi/' + video.youtubeId + '/hqdefault.jpg' alt='')
                                    div.media-body
                                        h2.videolist-title.h6= video.title
                                        div.row
                                            p.videolist-footer.h6.col-7.pr-0= video.author
                                            p.videolist-footer.h6.col-5.text-right.pl-0= video.timeago
                        nav#videolist-pagination(aria-label='Page navigation')
                            ul.pagination.justify-content-center
                                li.page-item
                                    a#nextPage.page-link(href='#' data-token=nextPageToken style=(nextPageToken ? false : 'display: none;')) More results
        //include includes/searchform/params-modal
block append scripts
    script(src='/scripts/google-map-style.js')
    script(src='/scripts/google-explorer.js')
    script(async defer src='https://maps.googleapis.com/maps/api/js?key=AIzaSyDS_5M-vekxpBRMS6w-XLyBFtfsLIRtnFo&libraries=places&callback=initMap')
