extends layout
include mixins/videocard

block content
    div#navigator.row.no-gutters
        div#leftPanel.col-12.col-md-7.col-xl-8
            div#map
            a#backtomap.d-none
                span.badge.badge-light
                    i.fa.fa-undo(title="Back to map")
                    |
                    | Back to map
            div#video-preview.d-none.embed-responsive.embed-responsive-16by9
            div#video-metaviewer.d-none
        div#rightPanel.col-12.col-md-5.col-xl-4
            div#videolist
                div#videolist-topbar
                    h1.lead Search videos around you
                    form#search(action='/ajax/place' method='get')
                        div.input-group
                            span.input-group-btn
                                button#geolocate.btn.btn-outline-secondary(type="button" onclick="getGeolocation()")
                                    i.fa.fa-location-arrow
                            input#place.form-control(placeholder="Search the place to be" name='search' type="search" value=place data-json=geocode)
                            span.input-group-btn
                                button#searchBtn.btn.btn-primary(type="submit")
                                    i#searchIcon.fa.fa-search.fa-fw
                        //div.form-inline
                        //    label(for="radius") Radius
                        //    input#radius.form-control(type="range" min="10" max="1000000" value="1000000" name="radius")
                        //div.form-inline
                        //    label(for="q") Search
                        //    input#q.form-control(type="text" name="q")
                        //div.form-inline
                        //    label(for="videoCategoryId") Category
                        //    select#videoCategoryId.form-control(name="videoCategoryId")
                        //      option
                div#videolist-container
                    div#videolist-list.list-group
                        each video in videos
                            a.media.video.videolist-media.list-group-item.list-group-item-action(data-json=video)
                                img.d-flex.mr-2.img-fluid(src="https://img.youtube.com/vi/" + video.youtubeId + "/hqdefault.jpg" alt=video.title)
                                div.media-body
                                    h5.h6.videolist-title= video.title
                                    div.row
                                        h6.videolist-footer.col-7.pr-0= video.author
                                        h6.videolist-footer.col-5.text-right.pl-0= video.timeago


block append scripts
    script(src="/scripts/google-map-style.js")
    script(src="/scripts/google-explorer.js")
    script(async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDS_5M-vekxpBRMS6w-XLyBFtfsLIRtnFo&libraries=places&callback=initMap")