extends layout
include mixins/videocard

block content
    div#navigator.row.no-gutters
        div#leftPanel.col-12.col-md-7.col-xl-8
            div#map
            a#backtomap.d-none
                span.badge.badge-light
                    i.fa.fa-undo(title="Back to map")
                    |
                    | Back to map
            div#video-preview.d-none.embed-responsive.embed-responsive-16by9
            div#video-metaviewer.d-none
        div#rightPanel.col-12.col-md-5.col-xl-4
            div#videolist
                div#videolist-topbar
                    h1.lead Search videos around you
                    form#search(action='/ajax/place' method='get')
                        div.input-group
                            span.input-group-btn
                                button#geolocate.btn.btn-outline-secondary(type="button")
                                    i.fa.fa-location-arrow
                            input#place.form-control(placeholder="Search the place to be" name='search' type="search" value=country)
                            span.input-group-btn
                                button.btn.btn-primary(type="submit")
                                    i.fa.fa-search
                        //div.form-inline
                        //    label(for="radius") Radius
                        //    input#radius.form-control(type="range" min="10" max="1000000" value="1000000" name="radius")
                        //div.form-inline
                        //    label(for="q") Search
                        //    input#q.form-control(type="text" name="q")
                        //div.form-inline
                        //    label(for="videoCategoryId") Category
                        //    select#videoCategoryId.form-control(name="videoCategoryId")
                        //      option

                div#videolist-container
                    div#videolist-list.list-group
                        each video in videos
                            - var timeago = moment(video.date).fromNow()
                            a.media.video.videolist-media.list-group-item.premiumvid.list-group-item-action&attributes({
                              "data-id": video._id,
                              "data-youtube-id": video.youtubeId,
                              "data-latitude": video.place.location.coordinates[1],
                              "data-longitude": video.place.location.coordinates[0],
                              "data-title": video.title,
                              "data-description": video.description,
                              "data-place": videoPlaceHelper(video.place),
                              "data-tags": video.tags,
                              "data-publisher": video.publisher.username,
                              "data-timeago": timeago,
                              "href": "/videos/" + video._id
                            })
                                img.d-flex.mr-2.img-fluid(src="https://img.youtube.com/vi/" + video.youtubeId + "/hqdefault.jpg" alt=video.title)
                                div.media-body
                                    h5.h6.videolist-title= video.title
                                    h6.videolist-author= video.publisher.username
                                span.badge.badge-warning.float-right.mb-auto
                                    i.fa.fa-star(title='Community video')

block append scripts
    script.
      var mapboxApiToken = '#{mapboxApiToken}';
    script(src="/js/navigator.js")