extends layout

block content
    div.jumbotron
        div.container
            div.row
                div.col-md-7
                    youtube-embed(embed=video.youtubeId)
                div.col-md-5.text-center.text-lg-left
                    h1.h5= video.title
                    h2.h6.mt-3
                        i.fa.fa-map-marker.mr-1
                        | #{videoPlaceHelper(video.place)}
                    p.mt-3.small !{videoDescHelper(video.description)}
                    div.mt-3 !{videoTagsHelper(video.tags)}
