mixin videocard(video)
    div.card.video-card.col-12.col-md-6.col-lg-4.col-xl-3.pl-0.pr-0&attributes({
      'data-latitude': video.place.location.coordinates[1],
      'data-longitude': video.place.location.coordinates[0],
      'data-id': video._id,
      'data-title': video.title
    })
        youtube-embed.card-img-top(embed=video.youtubeId)
        div.card-body
            h5.card-title
                a.video-link(href="/videos/"+video._id)= video.title
            h6
                i.fa.fa-map-marker.mr-1
                span.video-location= videoPlaceHelper(video.place)
            div.card-text
                //- var description = video.description.replace(/(?:\r\n|\r|\n)/g, '<br />');
                //p.video-description !{description}
                p.video-tags !{videoTagsHelper(video.tags)}

        div.card-footer
            small.text-muted
                - var timeago = moment(video.date).fromNow()
                i.fa.fa-clock-o.mr-1
                | Uploaded by
                |
                a(href="/users/profile/"+video.publisher.username)= video.publisher.username
                |
                |
                | #{timeago}
