- var category = params.videoCategoryId
option(value='' selected=!category) All categories
option(value='1' selected=category === '1') Film & Animation
option(value='2' selected=category === '2') Autos & Vehicles
option(value='10' selected=category === '10') Music
option(value='15' selected=category === '15') Pets & Animals
option(value='17' selected=category === '17') Sports
option(value='18' selected=category === '18') Short Movies
option(value='19' selected=category === '19') Travel & Events
option(value='20' selected=category === '20') Gaming
option(value='21' selected=category === '21') Videoblogging
option(value='22' selected=category === '22') People & Blogs
option(value='23' selected=category === '23') Comedy
option(value='24' selected=category === '24') Entertainment
option(value='25' selected=category === '25') News & Politics
option(value='26' selected=category === '26') Howto & Style
option(value='27' selected=category === '27') Education
option(value='28' selected=category === '28') Science & Technology
option(value='29' selected=category === '29') Nonprofits & Activism
option(value='30' selected=category === '30') Movies
option(value='31' selected=category === '31') Anime/Animation
option(value='32' selected=category === '32') Action/Adventure
option(value='33' selected=category === '33') Classics
option(value='34' selected=category === '34') Comedy
option(value='35' selected=category === '35') Documentary
option(value='36' selected=category === '36') Drama
option(value='37' selected=category === '37') Family
option(value='38' selected=category === '38') Foreign
option(value='39' selected=category === '39') Horror
option(value='40' selected=category === '40') Sci-Fi/Fantasy
option(value='41' selected=category === '41') Thriller
option(value='42' selected=category === '42') Shorts
option(value='43' selected=category === '43') Shows
option(value='44' selected=category === '44') Trailers
