h1.lead.d-none
    | Explore the world
form#search
    div#main-search.input-group.mb-1
        input#search-params-q.form-control(type='text' name='q' aria-describedby='qHelpBlock' placeholder='Search')
        span.input-group-btn
            button#searchBtn.btn.btn-primary(type='submit' title='Search' aria-label='Search')
                i#searchIcon.fa.fa-fw.fa-search(aria-hidden='true')
    div.btn-toolbar.justify-content-between(role='toolbar' aria-label='Sort toolbar')
        div#sort-group.btn-group.btn-group-sm.mr-1(data-toggle='buttons' role='group')
            - var order = params.order
            label.btn.btn-light(title='Sort videos by date' class=order === 'date' ? 'active' : '')
                input(type='radio' name='order' value='date' autocomplete='off' checked=order === 'date')
                i.fa.fa-calendar.mr-1
                | date
                i.fa.fa-sort-desc.ml-1
            label.btn.btn-light(title='Sort videos by views count' class=order === 'viewCount' || !order ? 'active' : '')
                input(type='radio' name='order' value='viewCount' autocomplete='off' checked=order === 'viewCount')
                i.fa.fa-eye.mr-1
                | views
                i.fa.fa-sort-desc.ml-1
        select#publishedAfter(aria-label='Upload date' name='publishedAfter' title='Filter videos by upload date')
            option(value='' selected) Upload date
            option(value=moment().subtract(1, 'hours').toISOString() data-period='hour') Last hour
            option(value=moment().subtract(1, 'days').toISOString() data-period='day') Today
            option(value=moment().subtract(1, 'weeks').toISOString() data-period='week') This week
            option(value=moment().subtract(1, 'months').toISOString() data-period='month') This month
            option(value=moment().subtract(1, 'year').toISOString() data-period='year') This year
            option(value='') All time
    div.d-none
        select#category-select.custom-select(title='Filter videos by category' name='videoCategoryId' aria-describedby='videoCategoryIdHelpBlock' data-default='')
            include category-options
        div#map-controls
            button#geolocate.btn.btn-sm.btn-primary(type='button' title='Get my position' aria-label='Geolocation')
                i.fa.fa-map-marker.fa-fw(aria-hidden='true')
            input#place(name='search' type='search' value=place data-json=geocode placeholder='Search your place' aria-label='Search a place')
        div#eventTypeContainer.btn-group.btn-group-sm.btn-group-toggle.mr-2(data-toggle="buttons")
            label#eventTypeBtn.btn.btn-sm.btn-outline-danger.mb-0(title='Restrict the search to live broadcasts')
                input#eventType(type="checkbox" aria-pressed="false" autocomplete="off" name='eventType' value='live')
                i.fa.fa-circle.mr-1
                | Live
